:root{
    --branco-principal:#ffffff;
    --ciza-secundario: #c0c0c0;
    --botao-azul :#167bf7;
    --cor-de-fundo: #000000;


}

body{
  background-color:var(--cor-de-fundo);
  color:var(--branco-principal);
  font-family:var(--fonte-principal);
  font-size: 16px

}
.principal{

     background-image: url ("Background.png");
background-size: contain ;
background-repeat: no-repeat;
    }
.container{
  height: 100vh;
.container_botao{
  background-color:var(--botao-azul);
  border-radius:5px;
}
}
.conteiner_botao{
  background
}
.botao_secundario{
  background-color: transparent;
  border:2px solid var(--botao-principal)

}
.container{
  height

}

